// http://paulirish.com/2012/box-sizing-border-box-ftw/
* { box-sizing: border-box; }

html,
body
    width 100%
    font-family Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif

body,
input
    font-weight 300
    text-rendering optimizeLegibility


.cf
  clearfix()
