// About
.about
  width 100%
  top 300px
  position absolute
  overflow hidden
  top 2345px

  .about-content
    margin 0 auto
    width 940px

    h2
      color #D91369
      font-size 40px
      margin-top 74px
      margin-bottom 5px
      margin-left 41px
      fontoon()

    h3
      color #FFF
      font-size 27px
      margin-top 0px
      margin-left 46px
      fontoon()
