@import 'nib'
@import '_fonts'
@import '_base'
@import '_menu'

body
  background url(/images/background.jpg)
  background url(/images/master-color.jpg)
  // background url(/images/master.jpg)
  background-position 50% 0
  background-repeat no-repeat
  height 100%
  background-attachment: scroll;
  overflow hidden // For loading purpose

.hide-during-load
  opacity 0

@import 'elements'

@import 'loading'

@import 'products'

@import 'about'

@import 'contact'


// Footer
.footer
  width 100%
  top 300px
  position absolute
  overflow hidden
  top 4680px
