// Contact
.contact
  width 100%
  top 300px
  position absolute
  overflow hidden
  top 3944px

  .contact-form
    position relative
    background url('/images/Contact-Form-Background.png') no-repeat
    float right
    margin-top 68px
    width 536px
    height 530px

    input, textarea, button
      position absolute
      background-color transparent
      border 0

    input:focus,
    select:focus,
    textarea:focus,
    button:focus
      outline none


    .name
      top 90px
      left 180px
      width 285px

    .email
      top 131px
      left 180px
      width 285px

    .message
      top 205px
      left 180px
      width 285px
      height 185px
      line-height 2.3
      resize none

    .send
      top 409px
      left 380px




