.elements
  position relative

  .clouds
    width 100%
    position absolute
    height 1px

    .clouds-content
      width 1px
      margin 0 auto

      img
        margin 0 auto
        position absolute

      .cloud-1
        left 83.5px
        top 564px

      .cloud-2
        left 251px
        top 479px

      .cloud-3
        left 349px
        top 555px
        z-index 20

      .cloud-4
        left 523px
        top 518px
        z-index 0

      .cloud-5
        left 690px
        top 630px

      .cloud-6
        left 852px
        top 566px

      .cloud-7
        left 988px
        top 527px

      .cloud-8
        left 1382px
        top 519px
        z-index 10

      .cloud-9
        left 1601px
        top 540px
        z-index 0

      .sun-1
        left 1080.5px
        top 592px
