.elements
  position relative

  .clouds
    width 100%
    position absolute
    height 1px

    .clouds-content
      position relative
      left -435px
      top 100px
      width 1px
      margin 0 auto
      font-size 0

      img
        margin 0 auto
        position absolute

      .cloud-1
        left -298px
        top 484px

      .cloud-2
        left -130px
        top 399px

      .cloud-3
        left -32px
        top 475px
        z-index 0

      .cloud-4
        // left 523px 381
        // top 518px 80
        left 142px
        top 438px
        z-index 0

      .cloud-5
        left 309px
        top 550px

      .cloud-6
        left 471px
        top 486px

      .cloud-7
        left 607px
        top 447px

      .cloud-8
        left 1001px
        top 439px
        z-index 10

      .cloud-9
        left 1220px
        top 460px
        z-index 0

      .sun-1
        left 1080.5px
        top 650px
        z-index 50

  .bubbles
    top 1900px
    width 100%
    position absolute
    height 1px
    z-index 0

    .bubbles-content
      width 1px
      margin 0 auto

      img
        margin 0 auto
        position absolute

      .bubble-1
        left 336px
        top 780px

      .bubble-2
        left 132px
        top 569px

      .bubble-3
        left 820px
        top 570px
        z-index 20

  .space
    top 2500px
    width 100%
    position absolute
    height 1px
    z-index 0

    .space-content
      width 1px
      margin 0 auto

      img
        margin 0 auto
        position absolute

      .space-1
        top 185px
        left -169px
