
.clouds
  position relative
  margin 0 auto

  img
    position absolute

  .cloud-1
    left: -125px;
    top: 573px;

  // .cloud-2
  //   left: 314px;
  //   top: 726px;

  .cloud-3
    left: 109px;
    top: 555px;
    z-index: 20;

  .cloud-4
    left: 283px;
    top: 517px;
    z-index: 0;

  .cloud-5
    left: 449px;
    top: 628px;

  // .cloud-6
  //   left: 314px;
  //   top: 726px;

  .cloud-7
    left: 751px;
    top: 525px;

  .cloud-8
    left: 1141px;
    top: 520px;
    z-index 10

  .cloud-9
    left: 1362px;
    top: 539px;
    z-index 0
