.headline
  h2 World class product innovation
  h3 Revolutionary Technology
.row
  .col-md-12 Drylock
  .col-md-12 original fluffless technology
  .col-md-12
    span Allows for thin, comfortable and highly absorbent products. The thinnest and fastest performance diaper on the market. Products with integrated fluid management system. The product interacts with and responds to the liquid. Breakthrough engineering and product know-how.
    img(src='images/About-Diaper.png')

.row
  .col-md-12 Ecological Benefits
  .col-md-12
    ul
      li Fluffless diaper: eliminating cellulose saves millions of trees each year.
      li Glueless core: elimination of glue saves tons of chemicals each year.
      li Compactness of diaper: saves packaging material and reduces transportation and warehousing requirements.
    img(src='images/Product-Recycle.png')

.row
  .col-md-12 A perfect score. In terms of overall performance, Drylock is superior to all US made diapers. Carlos Richer (2012 STUDY COMPARING DRYLOCK WITH ALL MAIN US BRANDS)
  .col-md-12 Saugt mehr und schneller als herkömmliche Produkte. Hy-TecHygiene Consulting
  .col-md-12 Very good in dryness and absorption. Courtray Consulting Labservice
