.about-content
  h2 World class product innovation
  h3 Revolutionary Technology
  .row.dry-lock-description
    .col-xs-12
      .row
        .col-xs-8.col-xs-push-4
          .row
            .col-xs-12.text-left
              h4 Drylock
              h5 original fluffless technology
          .row
            .col-xs-3
              img(src='images/About-Diaper.png')
            .col-xs-9.description-text
              p Allows for thin, comfortable and highly absorbent products.
              p The thinnest and fastest performance diaper on the market. Products with integrated fluid management system. The product interacts with and responds to the liquid.
              p Breakthrough engineering and product know-how.
              h4 All sizes available


  .row.ecology-description
    .col-xs-12
      .row
        .col-xs-8
          .row
            .col-xs-12.text-left
              h4 Ecological Benefits
          .row
            .col-xs-4
              img(src='images/Product-Recycle.png')
            .col-xs-8.description-text
              h5 Fluffless diaper:
              p eliminating cellulose saves millions of trees each year.
              h5 Glueless core:
              p elimination of glue saves tons of chemicals each year.
              h5 Compactness of diaper:
              p saves packaging material and reduces transportation and warehousing requirements.

  .row.product-reviews
    .col-xs-12
      .row
        .col-xs-8.col-xs-push-4.product-reviews-content
          .row
            .col-xs-1
              img(src='images/Apostrophes.png')
            .col-xs-11
              em A perfect score. In terms of overall performance, Drylock is superior to all US made diapers.
              strong Carlos Richer
              p (2012 STUDY COMPARING DRYLOCK WITH ALL MAIN US BRANDS)
          .row
            .col-xs-1
              img(src='images/Apostrophes.png')
            .col-xs-11
              em Saugt mehr und schneller als herkömmliche Produkte.
              strong Hy-TecHygiene Consulting
          .row
            .col-xs-1
              img(src='images/Apostrophes.png')
            .col-xs-11
              em Very good in dryness and absorption.
              strong Courtray Consulting Labservice
