.elements
  .clouds
    img.cloud-1(src='images/elements/cloud_01.png')
    img.cloud-2(src='images/elements/cloud_02.png')
    img.cloud-3(src='images/elements/cloud_03.png')
    img.cloud-4(src='images/elements/cloud_04.png')
    img.cloud-5(src='images/elements/cloud_05.png')
    //- //- img.cloud-6(src='images/elements/cloud_06.png')
    img.cloud-7(src='images/elements/cloud_07.png')
    img.cloud-8(src='images/elements/cloud_08.png')
    img.cloud-9(src='images/elements/cloud_09.png')
