.contact-content
  .row
    .col-xs-7
      .contact-form
        form
          input.name(type="text",name="name")
          input.email(type="email",name="email")
          textarea.message(name="message",rows=6)
          button.send(type="submit")
            img(src="/images/Contact-Form-Submit.png")
    .col-xs-5
      .contact-address-belgium
        img.envelope(src="/images/Contact-Envelope.png")
        h3 Drylock Technologies NV
        div Spinnerijstraat 14
        div 9240 Zele
        strong Belgium
        br
        br
        a(href="mailto:info@drylock.eu")
          img.arroba(src="/images/Contact-Arroba.png")
          span info@drylock.eu
      .contact-address-czech
        img.envelope(src="/images/Contact-Envelope.png")
        h3 Drylock Technologies, s.r.o.
        div Vlámská 801
        div Hrádek nad Nisou
        div 463 34
        strong Czech Republic
        br
        br
        a(href="mailto:info.cz@drylock.eu")
          img.arroba(src="/images/Contact-Arroba.png")
          span info.cz@drylock.eu

