.contact-content
  .row
    .col-md-7
      .contact-form
        form
          input.name(type="text",name="name")
          input.email(type="email",name="email")
          textarea.message(name="message",rows=6)
          button.send(type="submit")
            img(src="/images/Contact-Form-Submit.png")


//- div.
//-   Drylock Technologies NV
//-   Spinnerijstraat 14 9240 Zele Belgium
//-   info@drylock.eu
//-   Drylock Technologies, s.r.o.
//-   Vlámská 801 Hrádek nad Nisou 463 34
//-   Czech Republic
//-   info.cz@drylock.eu
//-   ￼￼￼￼￼￼￼￼￼￼￼￼￼￼￼￼￼￼￼￼￼￼￼
//-   My name:
//-   My address:
//-   Message:
