.row
  .col-md-12.magics-main-logo
    img(alt='Magics', src='images/Magics-Logo.png')
  .span12.loading-circle
    img(alt='Magics', src='images/Loading.gif')
  .span12.loading-claim The revolutionary thin diaper
