.menu.cf
  img.menu-magics-logo(src='images/Menu-Magics-Logo.png', alt='')

  ul.nav.nav-pills
    li.products-link
      a(href='#Products') Products
    li.about-link
      a(href='#About') About
    li.contact-link
      a(href='#Contact') Contact
    //- li
    //-   a.longer Order Online

  a.menu-drylock-logo(href='http://www.drylock.eu/')
    img(src='images/Menu-Drylock-Logo.png', alt='')
