.row
  .col-md-2.col-md-offset-1
    img(src='images/Menu-Magics-Logo.png')
  .col-md-6
    ul.nav.nav-pills
      li.active
        a(href='#Products') Products
      li
        a(href='#About') About
      li
        a(href='#Contact') Contact
      li
        a(href='#') Order Online
  .col-md-2.col-md-offset-2
    a(href='http://www.drylock.eu/')
      img(src='images/Menu-Drylock-Logo.png')
