.products-content
  .row
    .col-xs-6.diapers-1
      .row.diapers-detail
        .col-xs-6
          .diapers-info.text-right
            .title NEW BORN
            .weight 2–5 kg
            .description 36 ultra thin diapers
        .col-xs-1
          .number-circle.number-orange 1
        .col-xs-5
          img(src='images/packshots/Magics_1.png')

    .col-xs-6.diapers-2
      .row.diapers-detail
        .col-xs-6
          img(src='images/packshots/Magics_2.png')
        .col-xs-1
          .number-circle.number-yellow 2
        .col-xs-5.text-left
          .diapers-info.text-left
            .title MINI
            .weight 3–6 kg
            .description 34 ultra thin diapers

  .row
    .col-xs-5.col-xs-push-1.diapers-3
      .row.diapers-detail
        .col-xs-5
          img(src='images/packshots/Magics_3.png')
        .col-xs-1
          .number-circle.number-green 3
        .col-xs-6.text-left
          .diapers-info.text-left
            .title MIDI
            .weight 4–9 kg
            .description 31 ultra thin diapers

    .col-xs-5.col-xs-push-1.diapers-4
      .row.diapers-detail
        .col-xs-6.text-right
          .diapers-info.text-right
            .title MAXI
            .weight 7–18 kg
            .description 29 ultra thin diapers
        .col-xs-1
          .number-circle.number-pink 4
        .col-xs-5
          img(src='images/packshots/Magics_4.png')

  .row
    .col-xs-5.col-xs-push-1.diapers-5
      .row.diapers-detail
        .col-xs-6.text-right
          .diapers-info.text-right
            .title JUNIOR
            .weight 11–25 kg
            .description 27 ultra thin diapers
        .col-xs-1
          .number-circle.number-blue 5
        .col-xs-5
          img(src='images/packshots/Magics_5.png')

    .col-xs-5.col-xs-push-1.diapers-6
      .row.diapers-detail
        .col-xs-5
          img(src='images/packshots/Magics_6.png')
        .col-xs-1
          .number-circle.number-violet 6
        .col-xs-6.text-left
          .diapers-info.text-left
            .title XL
            .weight 16–30kg
            .description 25 ultra thin diapers

  .row
    .col-xs-5.col-xs-push-1.wipes
      .row.diapers-detail
        .col-xs-12.text-center
          .diapers-info.text-center
            .title BABY WIPES
            .description 64 ultra soft sheets
          img(src='images/packshots/Magics_wipes.png')

    .col-xs-6.col-xs-push-1.mats
      .row.diapers-detail
        .col-xs-9.text-right
          .diapers-info.text-right
            .title CHANGE MATS
            .weight 60 x 60 cm
            .description 10 baby change mats
        .col-xs-3
          img(src='images/packshots/Magics_mats.png')
  .row
    .col-xs-4.col-xs-push-2.text-center.videos
      .videos-detail.text-center
        a(href='http://www.youtube.com/watch?v=-HDieM32pts')
          img(src='images/Video.png')
          .button Watch our videos!
