.products-content
  .row
    .col-md-5.col-md-push-1
      .row.diapers-detail
        .col-md-6
          .diapers-info.text-right
            .title NEW BORN
            .weight 2–5 kg
            .description 36 ultra thin diapers
        .col-md-1
          .number-circle.number-orange 1
        .col-md-5
          img(src='images/packshots/Magics_1_fin.png')

    .col-md-5.col-md-push-1.diapers-2
      .row.diapers-detail
        .col-md-5
          img(src='images/packshots/Magics_2_fin.png')
        .col-md-1
          .number-circle.number-yellow 2
        .col-md-6.text-left
          .diapers-info.text-left
            .title MINI
            .weight 3–6 kg
            .description 34 ultra thin diapers

  .row
    .col-md-5.col-md-push-1.diapers-3
      .row.diapers-detail
        .col-md-5
          img(src='images/packshots/Magics_3_fin.png')
        .col-md-1
          .number-circle.number-yellow 3
        .col-md-6.text-left
          .diapers-info.text-left
            .title MIDI
            .weight 4–9 kg
            .description 31 ultra thin diapers

    .col-md-5.col-md-push-1.diapers-4
      .row.diapers-detail
        .col-md-5
          img(src='images/packshots/Magics_4_fin.png')
        .col-md-1
          .number-circle.number-yellow 4
        .col-md-6.text-left
          .diapers-info.text-left
            .title MAXI
            .weight 7–18 kg
            .description 29 ultra thin diapers

  .row
    .col-md-5.col-md-push-1.diapers-5
      .row.diapers-detail
        .col-md-5
          img(src='images/packshots/Magics_5_fin.png')
        .col-md-1
          .number-circle.number-yellow 5
        .col-md-6.text-left
          .diapers-info.text-left
            .title JUNIOR
            .weight 11–25 kg
            .description 27 ultra thin diapers

    .col-md-5.col-md-push-1.diapers-6
      .row.diapers-detail
        .col-md-5
          img(src='images/packshots/Magics_6_fin.png')
        .col-md-1
          .number-circle.number-yellow 6
        .col-md-6.text-left
          .diapers-info.text-left
            .title XL
            .weight 16–30kg
            .description 25 ultra thin diapers


  .row
    .col-md-12
      a(href='http://www.youtube.com/watch?v=-HDieM32pts')
        img(src='images/Video.png')
        span Watch our videos!
